#case{width:300px;height:595px;background:black;border-radius:40px;padding-top:50px}
#screen{background:white;width:250px;height:450px;margin:0 auto}
#audio{width:70px;height:10px;border-radius:5px;background:white;margin:0 0 40px 117px}
#bt{width:70px;height:70px;border-radius:50%;background:white;margin:10px 0 0 117px}
